Repository Azure/osdu-bicep, pull requests merged in 2022-11, with the labels that each got.

#52 Updated outputs for module.
  bicep/modules/public/user-managed-identity/README.md
  bicep/modules/public/user-managed-identity/main.bicep
  bicep/modules/public/user-managed-identity/main.json
Labels: module

#55 Ianphil/app config
  CONTRIBUTING.md
  bicep/modules/public/app-configuration/.bicep/nested_rbac.bicep
  bicep/modules/public/app-configuration/README.md
  bicep/modules/public/app-configuration/main.bicep
  bicep/modules/public/app-configuration/main.json
  bicep/modules/public/app-configuration/metadata.json
  bicep/modules/public/app-configuration/test/main.test.bicep
  bicep/modules/public/app-configuration/test/parameters.json
  bicep/modules/public/app-configuration/version.json
Labels: documentation, module

#58 Issue 51 -- Add Cosmos DB module
  bicep/modules/public/cosmos-db/.bicep/gremlin_database.bicep
  bicep/modules/public/cosmos-db/.bicep/gremlin_graph.bicep
  bicep/modules/public/cosmos-db/.bicep/nested_rbac.bicep
  bicep/modules/public/cosmos-db/.bicep/sql_container.bicep
  bicep/modules/public/cosmos-db/.bicep/sql_database.bicep
  bicep/modules/public/cosmos-db/README.md
  bicep/modules/public/cosmos-db/main.bicep
  bicep/modules/public/cosmos-db/main.json
  bicep/modules/public/cosmos-db/metadata.json
  bicep/modules/public/cosmos-db/test/main.test.bicep
  bicep/modules/public/cosmos-db/test/parameters.json
  bicep/modules/public/cosmos-db/version.json
  scripts/test-module.sh
Labels: module

#60 Added name to the output
  bicep/modules/public/log-analytics/README.md
  bicep/modules/public/log-analytics/main.bicep
  bicep/modules/public/log-analytics/main.json
Labels: module

#61 Added tags and changed default deployed solutions.
  bicep/modules/public/log-analytics/README.md
  bicep/modules/public/log-analytics/main.bicep
  bicep/modules/public/log-analytics/main.json
Labels: module

#62 Added bug fix for cmek
  bicep/modules/public/storage-account/main.bicep
  bicep/modules/public/storage-account/main.json
Labels: module

#63 Bug fix to trigger new build.
  bicep/modules/public/storage-account/README.md
  bicep/modules/public/storage-account/main.bicep
  bicep/modules/public/storage-account/main.json
Labels: module

#64 Rebuild and add in ps rule skips.
  .github/workflows/module-build.yml
  bicep/modules/public/cosmos-db/README.md
  bicep/modules/public/cosmos-db/main.bicep
  bicep/modules/public/cosmos-db/main.json
  ps-rule.yaml
Labels: module

#65 Updated KV
  bicep/modules/public/azure-keyvault/README.md
  bicep/modules/public/azure-keyvault/main.bicep
  bicep/modules/public/azure-keyvault/main.json
Labels: module

#67 Added Storage Secrets to KV
  bicep/modules/public/storage-account/.bicep/keyvault_secrets.bicep
  bicep/modules/public/storage-account/README.md
  bicep/modules/public/storage-account/main.bicep
  bicep/modules/public/storage-account/main.json
Labels: module

#68 Added Secrets
  bicep/modules/public/cosmos-db/.bicep/keyvault_secrets.bicep
  bicep/modules/public/cosmos-db/README.md
  bicep/modules/public/cosmos-db/main.bicep
  bicep/modules/public/cosmos-db/main.json
Labels: module

#71 Added throughput
  bicep/modules/public/cosmos-db/.bicep/sql_container.bicep
  bicep/modules/public/cosmos-db/README.md
  bicep/modules/public/cosmos-db/main.bicep
  bicep/modules/public/cosmos-db/main.json
Labels: module

#69 Solution update
  .github/workflows/infra-build.yml
  .github/workflows/infra-test.yml
  bicep/main.bicep
  bicep/modules_private/keyvault_secrets.bicep
  scripts/deploy.sh
Labels: infrastructure

#75 Updated throughput to support shared.
  bicep/modules/public/cosmos-db/.bicep/gremlin_database.bicep
  bicep/modules/public/cosmos-db/.bicep/sql_container.bicep
  bicep/modules/public/cosmos-db/.bicep/sql_database.bicep
  bicep/modules/public/cosmos-db/main.bicep
  bicep/modules/public/cosmos-db/main.json
Labels: module

#80 Fixed bugs in Solution.
  .gitignore
  bicep/main.bicep
Labels: infrastructure

#86 Update cosmos-db to pass delegatedManagedIdentityResourceId to nested_rbac
  bicep/modules/public/cosmos-db/main.bicep
  bicep/modules/public/cosmos-db/main.json
Labels: module

#87 Added a parameter to cosmos to support cross tenant scenario
  bicep/modules/public/cosmos-db/README.md
  bicep/modules/public/cosmos-db/main.bicep
  bicep/modules/public/cosmos-db/main.json
Labels: module

#90 App config changes
  bicep/modules/public/app-configuration/.bicep/key_values.bicep
  bicep/modules/public/app-configuration/.bicep/nested_rbac.bicep
  bicep/modules/public/app-configuration/README.md
  bicep/modules/public/app-configuration/main.bicep
  bicep/modules/public/app-configuration/main.json
  bicep/modules/public/app-configuration/test/main.test.bicep
  bicep/modules/public/app-configuration/test/parameters.json
Labels: module
